/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
  line-height: 1.6;
}

/* ===== HEADER ===== */
.header {
  background: #120554;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  margin-left: 20px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

/* ===== SECCIONES ===== */
.section {
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color:#120554;
}

/* ===== HABILIDADES ===== */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill {
  background:#120554;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 0.9rem;
}

/* ===== TARJETAS DE PROYECTOS ===== */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform .2s ease, box-shadow .2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.17);
}

.card__link {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: #120554;
}

.card__desc {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
}

/* ===== TESTIMONIOS ===== */
.testimonial-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #120554;
  border-radius: 10px;
}

/* ===== FORMULARIO DE CONTACTO ===== */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-form button {
  background: #4b2be3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #3419a8;
}

/* ===== FOOTER ===== */
.footer {
  text-align: center;
  padding: 20px;
  background: #120554;
  color: white;
}

.footer a {
  color: #ffeec2;
}
